.note{background-color:red;font-weight:bold;
font-size:120%;
padding-left:40px;}
.play{border:19px solid red;height:171px;}
.tx{display:inline-block;
vertical-align:top;}
footer{
border:4px solid yellow;
width:188px;
display:inline-block;
vertical-align:top;
margin-top:280px;
margin-left:-200px;
position:fixed;}

















nav a{background-color:black;
color:white;
padding-right:50px;
padding-left:50px;}
.overlay{display:flex;
justify-content:center;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:115%;
z-index:5;
background-color:rgba(0,0,0,0.6);
}
.alert{border:5px solid red;
border-radius:5px;
display:inline-block;
position:absolute;
right:150px;
top:240px;
background-color:white;}

.card{border:2px solid blue;
width:150px;
border-radius:7px;
margin:20px;
display:inline-block;
position:relative;
}
.cards{display:flex;margin:20px;}
.cardss{display:flex;margin:20px;}
.title{border:1px solid blue;
background-color:blue;
color:white;
position:absolute;
top:0px;}
.icon{position:absolute;
top:0px;
left:118px;}
.price{padding-left:50px;
font-weight:bold;}

section{display:inline-block;
position:relative;}
h1{padding-left:90px;}
